body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

form {
    border: 3px solid #f1f1f1;
}

fieldset {
    margin: 10px;
    padding: 5px 30px 20px 30px;
}

fieldset:hover {
    box-shadow: 0px 5px 30px black;
}

legend {
    padding: 10px;
    color: gray;
}

fieldset:hover legend {
    background-color: lightgreen;
    color: black;
    border-radius: 10px;
}

input[type=text], input[type=password], input[type=date], select,
textarea, input[type=tel]  {
    width: 100%;
    padding: 12px 20px 10px;
    margin: 8px 0 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=file] {
    width: 100%;
    padding: 12px 0px 10px;
    margin: 15px 0 0px 0px;
    display: inline-block;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    margin: auto;
    width: 75%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
