form {
    width: 40%;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

.custombtn {
    margin: 1rem;
    background-color: #FF5000;
    margin-top: 3rem;
    padding: .5rem;
    width: 100px;
}

.custombtn:hover {
    background-color: #FF5000;
    box-shadow: 0 5px 20px 0 gray;
}

.testbtn {
    background-color: orange;
    box-shadow: 0 5px 20px 0 gray;
    padding: 10px;
    margin: 10px;
}
